:root {
  overflow: auto;
}

body {
  width: 100%;
  padding-right: 0 !important;
}

table {
  width: 580px;
  margin: 6px 3px;
  border: 0;
  border-collapse: collapse;
}

tr {
  text-align: center;
}

th, td {
  border: 1px solid var(--primary-text);
  text-align: center;
}

th {
  padding: 6px;
  background-color: var(--grey-90);
}

td svg {
  width: 12px;
  height: 12px;
  cursor: pointer;
  fill: var(--primary-text);
  stroke: var(--primary-text);
}

td[data-list="move"] {
  width: 32px;
  height: 32px;
}

td[data-list="move"] svg {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 6px;
}

a {
  color: #2196f3;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

footer {
  font-size: 14px;
  text-align: right;
}

footer p+p {
  padding-top: 0;
  font-size: 10px;
}

a:hover {
  text-decoration: underline;
}

.circle-button {
  border-radius: 50%;
  width: 32px;
  min-width: 32px;
}

.text-right {
  text-align: right;
}

.swal2-actions button {
  height: 43px;
}

.unchecked {
  background-color: var(--grey-90);
}

button.secondary-button {
  color: var(--primary-text);
  background-color: #6c757d;
}

button.secondary-button:hover {
  background-color: #5a6268;
}

button.secondary-button:active {
  background-color: #545b62;
}

button.secondary-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
}

button.warning-button {
  color: var(--primary-text);
  background-color: #dc3545;
}

button.warning-button:hover {
  background-color: #c82333;
}

button.warning-button:active {
  background-color: #bd2130;
}

button.warning-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, .5);
}