/*Photon Design System CSS Prototype*/

:root {
	--color-test: #007acc;
	--color-40: #45a1ff;
	--color-50: #0a84ff;
	--color-60: #0060df;
	--color-70: #003eaa;
	--color-80: #002275;
	--color-90: #000f40;
	--grey-60: #4a4a4f;
	--grey-70: #38383d;
	--grey-90: #0c0c0d;
	--primary-text: #ffffff;
	--secondary-text: #f9f9fa;
}

body {
	/*font-family: 'Open Sans', 'M PLUS 1p' !important;*/
	font-family: 'Tahoma', 'メイリオ';
}

/*Buttons*/

button, input[type="button"] {
	height: 32px;
	width: auto;
	min-width: 132px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0, 0, 0, 0;
	font-size: 13px;
	border-radius: 2px;
	border-style: none;
	color: var(--grey-90);
	background-color: rgba(12, 12, 13, 0.1);
	outline-style: none !important;
	/*font-family: 'Open Sans', 'M PLUS 1p' !important;*/
}

/*Default Button*/

button, input[type="button"] {
	color: #0c0c0d;
	background-color: rgba(12, 12, 13, 0.1);
}

button:hover, input[type="button"]:hover {
	background-color: rgba(12, 12, 13, 0.2);
}

button:active, input[type="button"]:active {
	background-color: rgba(12, 12, 13, 0.3);
	box-shadow: none !important;
}

button:focus, input[type="button"]:focus {
	box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
}

button:disabled, input[type="button"]:disabled {
	opacity: 0.4;
}

/*Primary Button*/

button.primary-button, input[type="button"].primary-button {
	color: #ffffff;
	background-color: #0060df;
}

button.primary-button:hover, input[type="button"].primary-button:hover {
	background-color: #003eaa;
}

button.primary-button:active, input[type="button"].primary-button:active {
	background-color: #002275;
}

/*Ghost Button*/

button.ghost-button, input[type="button"].ghost-button {
	min-width: 32px;
	width: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
	color: rgba(12, 12, 13, 0.8);
	background-color: transparent;
	/*文字の上下中央揃え必須*/
}

button.ghost-button:hover, input[type="button"].ghost-button:hover {
	background-color: rgba(12, 12, 13, 0.1);
}

button.ghost-button:active, input[type="button"].ghost-button:active {
	background-color: rgba(12, 12, 13, 0.2);
}

/*Puffy Button*/

button.puffy-button, input[type="button"].puffy-button {
	border-radius: 4px;
	height: 48px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 15px;
}

/*Micro Button*/

button.micro-button, input[type="button"].micro-button {
	height: 24px;
	font-size: 11px;
	min-width: auto;
}

/*Textarea*/

textarea {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 2px;
	width: auto;
	height: 32px;
	border-color: rgba(12, 12, 13, 0.2);
	border-style: solid;
	font-size: 12px;
}

textarea:hover {
	border-color: rgba(12, 12, 13, 0.3);
}

textarea:focus {
	border-color: #0a84ff;
	box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}