::selection {
    color: white !important;
    background: rgba(0,100,200,0.5) !important;
}

:root {
    overflow: hidden;
}

body {
    width: 321px;
}

header, footer, main {
    width: 100%;
}

header h1 {
    font-size: 24px;
}

header {
    background-color: #38383d;
    color: #ffffff;
    padding: 20px;
}

main {
    font-size: 16px;
    padding: 20px;
    background-color: #4a4a4f;
    color: #f9f9fa;
}

footer {
    background-color: #0c0c0d;
    color: #f9f9fa;
    padding: 10px;
    font-size: 12px;
}

#menu {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu button {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

#info {
    height: 32px;
}

#shortcutInfo {
    width: 70%;
    float: left;
    padding: 9px;
    font-size: 12px;
}

#copied {
    display: block;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0s;
    width: 30%;
    border-radius: 4px;
    color: #0c0c0d;
    background-color: #ededf0;
    font-size: 14px;
    padding: 9px;
    text-align: center;
    float: left;
}

#copied.fadeout {
    opacity: 0;
    transition: 0.5s;
}

#copy-textarea {
    scrollbar-color: #404040 #dedede;
    scrollbar-width: thin;
    width: 100%;
    height: 80px;
}